<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LocalTweets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7FEF7B2F1C60EB47001DE497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FEF7B481C60EB48001DE497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FEF7B531C60EB48001DE497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
